/* Styles for the page container */
.page-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	padding: 2rem;
	color: white;
}

/* Styles for the text output (top) */
.text-output {
	flex-grow: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	width: 100%;
	color:white;
}

/* Styles for the text input (bottom) */
.text-input {
	flex-grow: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
}

.text-input-box {
	background-color: #222;
	border: 2px solid green;
	color: white;
}

	/* Style for the input field */
	.text-input input {
		width: 300px;
		padding: 0.5rem;
		font-size: 1rem;
		border-radius: 5px;
		border: 1px solid black;

	}

.image-overlay {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%); /* Adjust position to truly center it */
	z-index: 10; /* Ensures it is overlaid above other content */
}

	.image-overlay img {
		width: 1000px;
		height: auto;
		opacity: 0.7;
	}
