@page "/"
@using BlazorBootstrap;

@inject IToastService Toaster
@inject ILocalStorageService LocalStorageService
@inject HttpClient HttpClient
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Főoldal</PageTitle>

<Blazored.Toast.BlazoredToasts />

<div class="home-container">
	<h1>Tedd fel a kérdésed az egyetemmel kapcsolatban</h1>

    @if (!string.IsNullOrEmpty(ApiResponse))
    {
        <div class="response-box">
            <p>@ApiResponse</p>
        </div>
    }

    @if (IsLoading)
    {
        <div class="loading-indicator">
            <Spinner Type="SpinnerType.Border" Color="SpinnerColor.Primary"/>
        </div>
    }

    <div class="input-container">
        <div class="user-input-container">
            <textarea class="user-input"
                      @bind="UserInput"
                      rows="2"
                      placeholder="Üzenet az ÓE tudásbázisnak"
                      style="resize:both;"
                      oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';">
            </textarea>
        </div>

        <div class="d-flex">
            <button class="search-button" @onclick="GetAnswerAsync">
                <Icon Name="IconName.Search" />
            </button>
        </div>
    </div>
</div>