@page "/"

<div className="page-container">
	<div class="image-overlay">
		<img src="54119327619.png" alt="Logo" />
	</div>
	<PageTitle>Home</PageTitle>
	<div class="text-output">
		<h1>Output</h1>
	</div>
	<div>
		<div class="text-input">
			<input class="text-input-box" type="text" placeholder="Uzenet OE.Tudasbazis-nak" />
		</div>
	</div>
</div>