@page "/"

<div className="page-container">
	<PageTitle>Home</PageTitle>
	<div className="text-output">
		<h1>Text</h1>
	</div>
	<div>
		<div className="text-input">
			<input type="text" placeholder="Uzenet OE.Tudasbazis" />
		</div>
	</div>
</div>