@page "/Login"

@rendermode InteractiveWebAssembly

@inject ILocalStorageService LocalStorage
@inject IConfiguration Configuration
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager
@inject IToastService Toaster

<h3>Login</h3>

@*
    TODO: Try to fix
*@
@* <EditForm Model="User" OnValidSubmit="HandleLoginAsync">
    <DataAnnotationsValidator />
    <ValidationSummary /> *@

    <div class="mb-3">
        <label for="username">Name</label>
        <InputText id="username" @bind-Value="User.Username" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="User.Password" type="password" class="form-control" />
    </div>

    @* <button type="submit" class="btn btn-primary">Do it!</button> *@
    <button type="button" @onclick="HandleLoginAsync" class="btn btn-primary">Do it!</button>
@* </EditForm> *@

@code {
    private LoginOrRegisterRequestDto User { get; set; } = new();
    private string LoginError { get; set; } = string.Empty;

    private async Task HandleLoginAsync()
    {
        Toaster.ShowSuccess("test");

        try
        {
            var result = await Http.PostAsJsonAsync<LoginOrRegisterRequestDto>("api/Auth/Login", User);

            if (result.IsSuccessStatusCode)
            {
                var jwtDto = await result.Content.ReadFromJsonAsync<JwtDto>();

                if (jwtDto is not null)
                {
                    await LocalStorage.SetItemAsync("TOKEN", jwtDto.Token);
                    var state = await AuthStateProvider.GetAuthenticationStateAsync();

                    Toaster.ShowInfo("Logged in succesfully.");

                    // NavManager.NavigateTo("");
                }
            }
            else
            {
                LoginError = "Invalid username or password. Please try again.";
            }
        }
        catch (Exception ex)
        {
            LoginError = "An error occurred while trying to log in. Please try again later.";
            Console.Error.WriteLine(ex.Message);
        }
    }
}