.form-container {
	padding: 1rem;
}

hr {
	color: white;
	height: 2px;
}

.user-input {
	border: 2px solid black;
	color: white;
	background-color: #222222;
}

label, h3 {
	color: white;
}

.login-button {
	margin-top: 15px;
}